@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Aplicativo Auto Car ASP.NET</h1>
    <p class="lead">

    </p>

    <p><a href="/Carros" class="btn btn-primary btn-lg">Cadastro de Carros &raquo;</a></p>
    <p><a href="/Acessorios" class="btn btn-primary btn-lg">Cadastro de Acessorios &raquo;</a></p>
    <p><a href="/CarrosAcessorios" class="btn btn-primary btn-lg">Carros Acessorios &raquo;</a></p>

</div>